*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; // not neccesary
 }


.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: lightcyan;
}

html{
    min-height: calc(100vh - 40px);
}

// input[type="text"],
// input[type="password"] {
//   height: 25px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
// }

// input[type="submit"] {
//   margin-top: 10px;
//   cursor: pointer;
//   font-size: 15px;
//   background: #01d28e;
//   border: 1px solid #01d28e;
//   color: #fff;
//   padding: 10px 20px;
// }

// input[type="submit"]:hover {
//   background: #6cf0c2;
// }

.button-container {
  display: flex;
  justify-content: center;
}

Button{
  display: flex;
  justify-content: center;
  color: white;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;

}

p{
  margin-bottom: 0;
}
h1{
  text-align: center;
}
.list-container { 
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

nav{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #000080;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

li {
  display: inline;
  padding: 10px;
  padding-bottom: 0;
  font-weight: bolder;
  color: white;
  text-decoration: none;

  a{
    color: white;
    text-decoration: none;

    &:hover {
      color: #87CEEB;
    }

    } 

}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.content{
  background-color: lightcyan;
  min-height: 120vh;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
position: bottom;
}
