* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // not necessary 
}

// Login page
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  min-height: 100vh;
  font-family: FreeMono, monospace ;
  background: linear-gradient(0deg, rgba(216,237,211,1) 0%, rgba(216,237,211,1) 21%, rgba(0,212,255,1) 100%);
}

html {
  min-height: calc(100vh - 40px);
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  justify-content: center;
  color: black;
  border-radius: 5%;
}

.login-form {
  background: linear-gradient(0deg, rgba(216,237,208,1) 0%, rgba(232,211,237,1) 100%);   
  padding: 3rem;
  border-radius: 10%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 0;
}
h1 {
  text-align: center;
}
.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}



.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.form-control {
  border: 1px solid black;
}

nav {
  font-family: FreeMono, monospace ;
  text-align: center;
  background: rgba(0,212,255,1);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(45,110,253,1) 100%); 
  justify-content: center;
  padding: 1rem !important; 
  margin-bottom: 10px;

  a {
    color: white;
    text-decoration: none;
  
    &:hover {
      color: #87ceeb;
    }
  }
}


li {
  display: inline;
  padding: 10px;
  padding-bottom: 0;
  font-weight: bolder;
  text-decoration: none;
  font-size: large;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #87ceeb;
    }
  }
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  text-align: center;
}

.home {
  background: linear-gradient(0deg, rgba(216,237,211,1) 0%, rgba(216,237,211,1) 21%, rgba(0,212,255,1) 100%);
 font-family: FreeMono, monospace ;
}
.contact {
  background: linear-gradient(0deg, rgba(216,237,211,1) 0%, rgba(216,237,211,1) 21%, rgba(0,212,255,1) 100%);
 font-family: FreeMono, monospace ;
}
.account {
  background: linear-gradient(0deg, rgba(216,237,211,1) 0%, rgba(216,237,211,1) 21%, rgba(0,212,255,1) 100%);
 font-family: FreeMono, monospace ;
  //max-height: 120vh;
}
.statement {
  background: linear-gradient(0deg, rgba(216,237,211,1) 0%, rgba(216,237,211,1) 21%, rgba(0,212,255,1) 100%);
 font-family: FreeMono, monospace ;
}
footer {
  background:rgba(216,237,211,1);
  background: radial-gradient(circle, rgba(216,237,211,1) 0%, rgba(86,110,139,1) 100%); 
  color: black;
  padding: 20px;
  text-align: center;
}


/* Adjust the font size and margin as needed for your social icons */


.numberInput {
  margin: 1rem;
}
